@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800&family=IBM+Plex+Sans:wght@600&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
html {
    scroll-behavior: smooth;
  }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #006445;
    font-family: Barlow, sans-serif;
}

a{
    font-family: Barlow, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header{
    position: fixed;
    width: 100%;
    z-index: 6;
    background: #005C40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.tcr-logo{
    cursor: pointer;
}

.tcr-navbar{
    background: #005C40;
    list-style: none;
}

.tcr-navbar, a{
    background: #005C40;
    display: inline-block;
    padding: 0 20px;
    transition: all 0.3s ease 0s;
}

.tcr-navbar, a:hover{
    color: #DBFF4A;
}

button{
    font-family: Barlow, sans-serif;
    font-weight: 650;
    font-size: 16px;
    color: black;
    padding: 9px 25px;
    background-color: #DBFF4A;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
button:hover {
    background-color: #e4fa89;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 15px;
    height: 80vh;
    width: 100%;
    overflow: hidden;
}
.software-dev-open{
    font-size: 45px;
    color: white;
    font-weight: 600;
}

.visit-us{
    font-size: 20px;
    color: white;
}

.container .time-content{
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.time-content .time{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.time .number,
.time .text{
    font-weight: 500;
    color: white;
}

.time .number{
    font-size: 40px;
}

.time .text{
    text-transform: capitalize;
    font-size: 12px;
}
/* Raghda */
.quiz{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.quiz h1{
    position: relative;
    font-size: 6em;
    letter-spacing: 15px;
    color: #005C40;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
    line-height: 0.80em;
    outline: none;
    animation: animate 5s linear infinite;
}
@keyframes animate
{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #006440;
        box-shadow:none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color:#fff;
        text-shadow: 0 0 10px #03bcf4;
        text-shadow: 0 0 20px #03bcf4;
        text-shadow: 0 0 40px #03bcf4;
        text-shadow: 0 0 80px #03bcf4;
        text-shadow: 0 0 160px #03bcf4;
        
    }
}
.section-opendag{
    display: flex;
    flex-direction: column;
    background-color: white;
    
}
.paragraph-title{
    font-size: xx-large;
}
.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.information1{
    display: flex;
    flex-direction: row-reverse;
    gap: 200PX;
}
.image{
    margin: 25px;
}
.information2 button{
    margin: 25px;
}