@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800&family=IBM+Plex+Sans:wght@600&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
html {
  scroll-behavior: smooth;
}

/* Ni-Yara Header & Countdown */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Barlow, sans-serif;
  text-decoration: none;
  list-style: none;
}

a {
  font-family: Barlow, sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: white;
}

.tcr {
  position: fixed;
  max-height: fit-content;
  width: 100%;
  z-index: 6;
  background: #005c40;
  /* background-color: #005C40; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 3%;
  box-shadow: 0 10px 14px rgba(0, 0, 0, 0.08);
}
.menu {
  display: flex;
}
nav ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 330px;
}

.tcr-logo {
  cursor: pointer;
}

.tcr-navbar {
  background: #005c40;
  list-style: none;
}

.tcr-navbar,
a {
  /* background: #005c40; */
  font-size: 17px;
  display: inline-block;
  padding: 0 20px;
  transition: all 0.3s ease 0s;
}

.tcr-navbar,
a:hover {
  color: #dbff4a;
}

label #btn,
label #cancel {
  float: right;
  font-size: 30px;
  line-height: 83px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

.register {
  font-family: Barlow, sans-serif;
  font-weight: 650;
  font-size: 16px;
  color: black;
  padding: 9px 25px;
  background-color: #dbff4a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.register:hover {
  background-color: #e4fa89;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 15px;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #004630;
}
.software-dev-open {
  font-size: 45px;
  color: white;
  font-weight: 600;
}

.data-jan {
  font-size: 30px;
  color: white;
}

.visit-us {
  font-size: 20px;
  color: white;
}
.visit {
  font-size: 30px;
  font-weight: 650px;
  color: white;
}
.container .time-content {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.time-content .time {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.time .number,
.time .text {
  font-weight: 500;
  color: white;
}

.time .number {
  font-size: 40px;
}

.time .text {
  text-transform: capitalize;
  font-size: 12px;
}

/* information Open days */

.section-opendag {
  /* margin-bottom: 100px; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: white;
}
.paragraph-title {
  margin-top: 82px;
  font-size: 40px;
  color: #006440;
}
.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.information1 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 1400px;
  gap: 100px;
  margin: 0 auto;
}
.image {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  gap: 25px;
}
.image img {
  width: 450px;
  height: auto;
  -webkit-box-shadow: 2px 3px 15px 2px rgba(0, 0, 0, 0.87);
  box-shadow: 2px 3px 15px 2px rgba(0, 0, 0, 0.87);
}

.image p {
  font-size: 25px;
  color: #0f2b22;
  font-weight: bold;
  }

.information2 .registration {
  margin: 25px 0;
}

.information2 {
  flex: 1;
}

.information2 p {
  width: 70%;
  font-size: 20px;
  color: black;
}

.registration {
  font-family: Barlow, sans-serif;
  font-weight: 650;
  font-size: 16px;
  color: black;
  padding: 9px 25px;
  background-color: #dbff4a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* Ni-Yara  Chatbot */

.chatbot-toggler {
  position: fixed;
  right: 40px;
  bottom: 35px;
  height: 50px;
  width: 50px;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  background: #dbff4a;
  border-radius: 15%;
  transition: all 0.2s ease;
}

.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}

.chatbot-toggler span {
  position: absolute;
}

.show-chatbot .chatbot-toggler span:first-child,
.chatbot-toggler span:last-child {
  opacity: 0;
}

.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}

.chatbot {
  position: fixed;
  right: 40px;
  bottom: 100px;
  width: 330px;
  transform: scale(0.5);
  opacity: 0;
  pointer-events: none;
  background: white;
  border-radius: 25px;
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;
}

.show-chatbot .chatbot {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}

.chatbot header {
  border-radius: 15px 15px 0 0;
  background: #dbff4a;
  padding: 16px 0;
  text-align: center;
  position: relative;
}

.chatbot header h2 {
  color: black;
  font-size: 1.4rem;
}

.chatbot header span {
  position: absolute;
  right: 20px;
  top: 50%;
  color: black;
  cursor: pointer;
  display: none;
  transform: translateY(-50%);
}

.chatbot .chatbox {
  height: 300px;
  overflow-y: auto;
  padding: 30px 20px 100px;
}

.chatbox .chat {
  display: flex;
}

.chatbox .incoming span {
  height: 32px;
  width: 32px;
  align-self: flex-end;
  background: #dbff4a;
  text-align: center;
  line-height: 32px;
  border-radius: 4px;
  margin: 0 10px 7px 0;
}

.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}

.chatbox .chat p {
  color: black;
  max-width: 75%;
  white-space: pre-wrap;
  font-size: 0.95rem;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  background: #dbff4a;
}

.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}

.chatbox .incoming p {
  color: #000;
  background: #f2f2f2;
  border-radius: 10px 10px 10px 0;
}

.chatbot .chat-input {
  border-radius: 0 0 15px 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  gap: 5px;
  background: #fff;
  padding: 5px 20px;
  border-top: 1px solid #ccc;
}

.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  max-height: 180px;
  font-size: 0.95rem;
  resize: none;
  padding: 16px 15px 16px 0;
}

.chat-input span {
  align-self: flex-end;
  height: 55px;
  line-height: 55px;
  color: black;
  font-size: 1.35rem;
  cursor: pointer;
  visibility: hidden;
}

.chat-input textarea:valid ~ span {
  visibility: visible;
}



.footer-container {
  max-width: 1300px;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

footer {
  background-color: #004630;
  padding: 20px 0;
  /* margin-top: 100px; */
}

.footer-social-media a {
  font-size: medium;
  letter-spacing: 3px;
}

.footer-image {
  width: 180px;
}

.footer-image img {
  height: 80px;
}

/* resonsive */
@media (max-width: 860px) {
 
  .chatbot ul
  {
    position: absolute;
    left: 5px;
    bottom: 200px;
    background-color: white;
    
  }
 
  .chatbot {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 80%;
    border-radius: 25px;
  }
  .chatbot .chatbox {
    height: 90%;
  }
  .chatbot header span {
    display: block;
  }

  .tcr-logo img {
    width: 120px;
    height: 60px;
  }
  label #btn {
    display: block;
  }

  .menu {
    flex-direction: column;
    margin-bottom: 20px;
  }

  ul {
    position: fixed;
    /* margin: 20px; */
    width: 100%;
    height: 100vh;
    background: #004630;
    top: 90px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 20px;
    /* gap:30px; */
  }
  nav ul li a {
    font-size: 25px;
  }
  #check:checked ~ ul {
    left: 0px;
  }
  #check:checked ~ label #btn {
    display: none;
  }
  #check:checked ~ label #cancel {
    display: block;
  }

  /* .............................. */
  .container {
    flex-direction: column;
  }
  .container label {
    font-size: 2.5rem;
  }
  .software-dev-open {
    font-size: 1.6rem;
  }
  .data-jan {
    font-size: 30px;
  }
  .visit-us {
    font-size: 25px;


  }
  .visit{
    font-size: 40px;
  }
  .time {
    font-size: 20px;
  }
  /* ......opendag.... */
  .section-opendag {
    padding-top: 15px;
    height: 100%;
  }
  .information {
    flex-direction: column;
  }
  .information1 {
    flex-direction: column;
    width: 90%;
    gap: 5px;
  }
  .information2 p {
    font-size: 2em;
    width: 100%;
  }
  .image {
    width: 100%;
  }
  .image img {
    width: 100%;
  }
  .image p {
    font-size: 2em;
    font-weight: bold;
  }
  /* .......... */
}

@media (max-width: 912px) {
  .section-opendag {
    padding-top: 15px;
    height: 100%;
  }
  .paragraph-title {
    font-size: 2.2rem;
  }
  .information {
    flex-direction: column;
  }
  .information1 {
    flex-direction: column;
    width: 90%;
    gap: 5px;
  }
  .information2 p {
    font-size: 1.6em;
    /* gap:20px; */
    width: 100%;
  }
  .image {
    width: 100%;
  }
  .image img {
    width: 100%;
  }
  .image p {
    font-size: 1.3em;
    font-weight: bold;
  }
}

.round {
  position: absolute;
  width: 15px;
  height: 15px;
  background: #dbff4a;
  border-radius: 50%;
  filter: drop-shadow(0 0 20px #dbff4a);
}
.round:nth-child(1) {
  opacity: 0.6;
  transform: translate(56vw, -10px);
  animation: ani-1 22s -16s linear infinite;
}
@keyframes ani-1 {
  34% {
    transform: translate(57vw, 34vh);
  }
  to {
    transform: translate(57vw, 95vh);
  }
}
.round:nth-child(2) {
  opacity: 0.06;
  transform: translate(38vw, -10px);
  animation: ani-2 17s -20s linear infinite;
}
@keyframes ani-2 {
  70% {
    transform: translate(37vw, 70vh);
  }
  to {
    transform: translate(37vw, 95vh);
  }
}
.round:nth-child(3) {
  opacity: 0.7;
  transform: translate(18vw, -10px);
  animation: ani-3 10s -24s linear infinite;
}
@keyframes ani-3 {
  71% {
    transform: translate(22vw, 71vh);
  }
  to {
    transform: translate(20vw, 95vh);
  }
}
.round:nth-child(4) {
  opacity: 0.7;
  transform: translate(59vw, -10px);
  animation: ani-4 25s -3s linear infinite;
}
@keyframes ani-4 {
  73% {
    transform: translate(51vw, 73vh);
  }
  to {
    transform: translate(55vw, 95vh);
  }
}
.round:nth-child(5) {
  opacity: 0.4;
  transform: translate(47vw, -10px);
  animation: ani-5 20s -18s linear infinite;
}
@keyframes ani-5 {
  38% {
    transform: translate(42vw, 38vh);
  }
  to {
    transform: translate(45vw, 95vh);
  }
}
.round:nth-child(6) {
  opacity: 0.6;
  transform: translate(82vw, -10px);
  animation: ani-6 16s -19s linear infinite;
}
@keyframes ani-6 {
  57% {
    transform: translate(83vw, 57vh);
  }
  to {
    transform: translate(82vw, 95vh);
  }
}
.round:nth-child(7) {
  opacity: 0.1;
  transform: translate(30vw, -10px);
  animation: ani-7 17s -27s linear infinite;
}
@keyframes ani-7 {
  32% {
    transform: translate(22vw, 32vh);
  }
  to {
    transform: translate(26vw, 95vh);
  }
}
.round:nth-child(8) {
  opacity: 0.5;
  transform: translate(11vw, -10px);
  animation: ani-8 10s -19s linear infinite;
}
@keyframes ani-8 {
  50% {
    transform: translate(6vw, 50vh);
  }
  to {
    transform: translate(9vw, 95vh);
  }
}
.round:nth-child(9) {
  opacity: 0.5;
  transform: translate(81vw, -10px);
  animation: ani-9 13s -8s linear infinite;
}
@keyframes ani-9 {
  57% {
    transform: translate(74vw, 57vh);
  }
  to {
    transform: translate(77vw, 95vh);
  }
}
.round:nth-child(10) {
  opacity: 0.7;

  animation: ani-10 24s -25s linear infinite;
}
@keyframes ani-10 {
  51% {
    transform: translate(31vw, 51vh);
  }
  to {
    transform: translate(28vw, 95vh);
  }
}
.round:nth-child(11) {
  opacity: 0.5;
  transform: translate(92vw, -10px);
  animation: ani-11 27s -18s linear infinite;
}
@keyframes ani-11 {
  36% {
    transform: translate(99vw, 36vh);
  }
  to {
    transform: translate(96vw, 95vh);
  }
}
.round:nth-child(12) {
  opacity: 0.9;
  transform: translate(49vw, -10px);
  animation: ani-12 16s -10s linear infinite;
}
@keyframes ani-12 {
  78% {
    transform: translate(54vw, 78vh);
  }
  to {
    transform: translate(51vw, 95vh);
  }
}
.round:nth-child(13) {
  opacity: 0.3;
  transform: translate(69vw, -10px);
  animation: ani-13 11s -27s linear infinite;
}
@keyframes ani-13 {
  75% {
    transform: translate(66vw, 75vh);
  }
  to {
    transform: translate(68vw, 95vh);
  }
}
.round:nth-child(14) {
  opacity: 0.2;
  transform: translate(78vw, -10px);
  animation: ani-14 18s -4s linear infinite;
}
@keyframes ani-14 {
  50% {
    transform: translate(77vw, 50vh);
  }
  to {
    transform: translate(77vw, 95vh);
  }
}
.round:nth-child(15) {
  opacity: 0.9;
  transform: translate(33vw, -10px);
  animation: ani-15 18s -4s linear infinite;
}
@keyframes ani-15 {
  68% {
    transform: translate(29vw, 68vh);
  }
  to {
    transform: translate(31vw, 95vh);
  }
}

.back {
  position: fixed;
  left: 5rem;
  top: 5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: cadetblue;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  transition: 0.2s ease-out;
  z-index: 999;
}

.back span {
  color: goldenrod;
  font-size: 2rem;
  transition: 0.2s ease-out;
}

.back:hover {
  background-color:chocolate;
}

.back:hover span {
  transform: translateX(-4px);
  color:cadetblue;
}

                
.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999;
  /* so that it stays on top of all other elements */
}


                
